@page "/pomf/addpomf"
@page "/pomf/addmanualpomf/{param}"
@page "/pomf/resolvepomf/{param}"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.SessionStorage.ISyncSessionStorageService syncSessionStorage
@inject IPOMFService POMFService
@inject ILoginService LoginService
@inject IManagementService ManagementService
@inject IJSRuntime JS
@using System.Text.Json

<PageTitle>EPKRS - Add POMF</PageTitle>

@if (LoginService.activeUser == null)
{
    <p>Loading...</p>
}
else
{
    if (LoginService.activeUser.userPrivileges != null)
    {
        @if (!LoginService.activeUser.userPrivileges.Contains("VW"))
        {
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <h3>User Require Elevation</h3>
                </div>
            </div>
        }
        else
        {
            <h3>Purchase Order Monitoring Form (POMF)</h3>
            <small><i>Add POMF Document</i></small>

            @if (alertTrigger)
            {
                <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                    <strong>@alertMessage</strong> @alertBody
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="(() => alertTrigger = false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }


            @if (successAlert)
            {
                <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
                    <strong>@alertMessage</strong> @alertBody
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="(() => successAlert = false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }


            <div class="container-fluid">
                <div class="d-flex flex-column align-items-center">

                    <div class="row my-2">
                        <div class="col">

                            @if (param != null && CommonLibrary.Base64Decode(param).Split("!_!")[0].Equals("MANUAL"))
                            {
                                <EditForm Model="@pomfData">
                                    <DataAnnotationsValidator />

                                    <div class="row my-2">
                                        <div class="col">
                                            <label for="pomf_id">POMF ID :</label>
                                            <InputText id="doc_id" @bind-Value="pomfData.POMFID" class="form-control" readonly></InputText>
                                        </div>
                                        <div class="col">
                                            <label for="pomf_date">POMF Date :</label>
                                            <InputDate id="pomf_date" @bind-Value="pomfData.POMFDate" class="form-control" readonly></InputDate>
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col">
                                            <label for="loc_id">Location ID :</label>
                                            <InputText id="loc_id" @bind-Value="pomfData.LocationID" class="form-control" readonly></InputText>
                                        </div>
                                        <div class="col">
                                            <label for="cust_name">Customer Name :</label>
                                            <InputText id="cust_name" @bind-Value="pomfData.CustomerName" class="form-control" readonly="@(successUpload)"></InputText>
                                            <ValidationMessage For="(() => pomfData.CustomerName)" />
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col">
                                            <label for="loc_id">Document Remarks :</label>
                                            <InputTextArea id="loc_id" @bind-Value="pomfData.Remarks" class="form-control" readonly="@(successUpload)"></InputTextArea>
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col">
                                            <label for="np_type">NP Type :</label>
                                            <InputSelect id="np_type" @bind-Value="pomfData.NPTypeID" class="form-select" disabled>
                                                @if (checkPOMFNPType())
                                                {
                                                    <option hidden value="">Input Receipt and NP Number</option>

                                                    @foreach (var nptype in POMFService.npTypes)
                                                    {
                                                        <option value="@nptype.NPTypeID">@nptype.NPTypeDescription</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option hidden value="">NP Type Empty</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For="(() => pomfData.NPTypeID)" />
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col">
                                            <label for="loc_id">Input Receipt & NP :</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <InputText id="receipt_no" @bind-Value="pomfData.ReceiptNo" class="form-control" placeholder="Receipt Number" readonly="@(successUpload || itemSelected ? "readonly" : null)"></InputText>
                                                </div>
                                                <InputText id="np_no" @bind-Value="pomfData.NPNo" class="form-control" placeholder="NP Number" readonly="@(successUpload || itemSelected ? "readonly" : null)"></InputText>
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary-cus" type="button" data-toggle="modal" data-target="#selectitembyNPandReceiptModal" @onclick="selectItembyNPandReceiptID" disabled="@(successUpload)">...</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @if (checkPOMFLine())
                                    {
                                        <table class="table table-sm table-bordered" style="width: 100%">
                                            @{
                                                var auto = POMFService.npTypes.SingleOrDefault(x => x.NPTypeID.Equals(pomfData.NPTypeID));
                                            }
                                            <thead>
                                                <tr class="table-primary">
                                                    <th class="text-center align-middle text-wrap" style="width: 5%; font-size: 15px;">Action</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 10%; font-size: 15px;">Item Code</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 20%; font-size: 15px;">Item Description</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 7%; font-size: 15px;">Request Qty</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 5%; font-size: 15px;">NP Qty</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 6%; font-size: 15px;">UOM</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 24%; font-size: 15px;">Request To</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 23%; font-size: 15px;">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var line in pomfLines)
                                                {
                                                    <tr>
                                                        <td class="text-center align-middle text-wrap"><button type="button" class="btn btn-sm btn-danger h-100 w-100" @onclick="(() => pomfLines.Remove(line))" disabled="@(successUpload ? "disabled" : null)"><i class="oi oi-delete"></i></button></td>

                                                        <td class="text-center align-middle text-wrap">@line.ItemCode</td>
                                                        <td class="text-center align-middle text-wrap">@line.ItemDescription</td>
                                                        <td class="text-center align-middle text-wrap"><input type="number" class="form-control" @bind-value="line.RequestQuantity" readonly="@(successUpload ? "readonly" : null)" /></td>
                                                        <td class="text-center align-middle text-wrap">@line.NPQuantity</td>
                                                        <td class="text-center align-middle text-wrap">
                                                            <input type="text" class="form-control" @bind-value="line.ItemUOM" placeholder="Input UOM" list="uomList" readonly="@(successUpload)" />

                                                            <datalist id="uomList">
                                                                @foreach (var uom in ManagementService.uoms)
                                                                {
                                                                    <option value="@uom.UOMPreview">@uom.UOMDescription</option>
                                                                }
                                                            </datalist>
                                                        </td>
                                                        <td class="text-center align-middle text-wrap">
                                                            <InputSelect id="site_sender" @bind-Value="line.RequestToSite" class="form-select" disabled="@(successUpload)">
                                                                @if (checkLocation())
                                                                {
                                                                    <option hidden disabled value="">Select Request Location</option>

                                                                    <option value="Supplier">SUPPLIER</option>
                                                                    @foreach (var location in ManagementService.locations)
                                                                    {
                                                                        <option value="@location.locationId">@location.locationId - @location.locationName</option>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <option disabled value="BLANK">Location Empty</option>
                                                                }
                                                            </InputSelect>
                                                        </td>
                                                        <td class="text-center align-middle text-wrap"><input type="text" class="form-control" @bind-value="line.Remarks" readonly="@(successUpload ? "readonly" : null)" /></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }

                                    <div class="row my-2">
                                        <div class="col">
                                            <button type="button" title="Reset Data" class="btn btn-dark fw-bold" disabled="@(successUpload ? "disabled" : null)" @onclick="resetForm">Reset</button>
                                            <button type="submit" title="Submit Data" class="btn btn-primary-cus fw-bold" disabled="@(successUpload ? "disabled" : null)" @onclick="createPOMFDocument">Create POMF</button>
                                        </div>
                                    </div>
                                </EditForm>
                            }
                            else
                            {
                                <EditForm Model="@pomfData">
                                    <DataAnnotationsValidator />

                                    <div class="row my-2">
                                        <div class="col">
                                            <label for="pomf_id">POMF ID :</label>
                                            <InputText id="doc_id" @bind-Value="pomfData.POMFID" class="form-control" readonly></InputText>
                                        </div>
                                        <div class="col">
                                            <label for="pomf_date">POMF Date :</label>
                                            <InputDate id="pomf_date" @bind-Value="pomfData.POMFDate" class="form-control" readonly></InputDate>
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col">
                                            <label for="loc_id">Location ID :</label>
                                            <InputText id="loc_id" @bind-Value="pomfData.LocationID" class="form-control" readonly></InputText>
                                        </div>
                                        <div class="col">
                                            <label for="cust_name">Customer Name :</label>
                                            <InputText id="cust_name" @bind-Value="pomfData.CustomerName" class="form-control" readonly="@(successUpload || (param != null))"></InputText>
                                            <ValidationMessage For="(() => pomfData.CustomerName)" />
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col">
                                            <label for="loc_id">Document Remarks :</label>
                                            <InputTextArea id="loc_id" @bind-Value="pomfData.Remarks" class="form-control" readonly="@(successUpload || (param != null))"></InputTextArea>
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col">
                                            <label for="np_type">NP Type :</label>
                                            <InputSelect id="np_type" @bind-Value="pomfData.NPTypeID" class="form-select" disabled>
                                                @if (checkPOMFNPType())
                                                {
                                                    <option hidden value="">Input Receipt and NP Number</option>

                                                    @foreach (var nptype in POMFService.npTypes)
                                                    {
                                                        <option value="@nptype.NPTypeID">@nptype.NPTypeDescription</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option hidden value="">NP Type Empty</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For="(() => pomfData.NPTypeID)" />
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col">
                                            <label for="loc_id">Input Receipt & NP :</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <InputText id="receipt_no" @bind-Value="pomfData.ReceiptNo" class="form-control" placeholder="Receipt Number" readonly="@(successUpload || itemSelected ? "readonly" : null)"></InputText>
                                                </div>
                                                <InputText id="np_no" @bind-Value="pomfData.NPNo" class="form-control" placeholder="NP Number" readonly="@(successUpload || itemSelected ? "readonly" : null)"></InputText>
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary-cus" type="button" data-toggle="modal" data-target="#selectitembyNPandReceiptModal" @onclick="selectItembyNPandReceiptID" disabled="@(successUpload || (param != null))">...</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @if (checkPOMFLine())
                                    {
                                        <table class="table table-sm table-bordered" style="width: 100%">
                                            @{
                                                var auto = POMFService.npTypes.SingleOrDefault(x => x.NPTypeID.Equals(pomfData.NPTypeID));
                                            }
                                            <thead>
                                                <tr class="table-primary">
                                                    @if (param == null)
                                                    {
                                                        <th class="text-center align-middle text-wrap" style="width: 5%; font-size: 15px;">Action</th>
                                                        <th class="text-center align-middle text-wrap" style="width: 10%; font-size: 15px;">Item Code</th>
                                                        <th class="text-center align-middle text-wrap" style="width: 22%; font-size: 15px;">Item Description</th>
                                                        @if (auto != null)
                                                        {
                                                            @if (auto.isAutomaticApproval)
                                                            {
                                                                <th class="text-center align-middle text-wrap" style="width: 20%; font-size: 15px;">Request Qty</th>
                                                                <th class="text-center align-middle text-wrap" style="width: 10%; font-size: 15px;">NP Qty</th>
                                                                <th class="text-center align-middle text-wrap" style="width: 10%; font-size: 15px;">UOM</th>
                                                                <th class="text-center align-middle text-wrap" style="width: 23%; font-size: 15px;">Remarks</th>
                                                            }
                                                            else
                                                            {
                                                                <th class="text-center align-middle text-wrap" style="width: 10%; font-size: 15px;">MAX REQUEST</th>
                                                                <th class="text-center align-middle text-wrap" style="width: 5%; font-size: 15px;">Request Qty</th>
                                                                <th class="text-center align-middle text-wrap" style="width: 5%; font-size: 15px;">NP Qty</th>
                                                                <th class="text-center align-middle text-wrap" style="width: 6%; font-size: 15px;">UOM</th>
                                                                <th class="text-center align-middle text-wrap" style="width: 24%; font-size: 15px;">Request To</th>
                                                                <th class="text-center align-middle text-wrap" style="width: 15%; font-size: 15px;">Remarks</th>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <th class="text-center align-middle text-wrap" style="width: 5%; font-size: 15px;">Action</th>
                                                        <th class="text-center align-middle text-wrap" style="width: 12%; font-size: 15px;">Item Code</th>
                                                        <th class="text-center align-middle text-wrap" style="width: 25%; font-size: 15px;">Item Description</th>
                                                        <th class="text-center align-middle text-wrap" style="width: 7%; font-size: 15px;">Request Qty</th>
                                                        <th class="text-center align-middle text-wrap" style="width: 5%; font-size: 15px;">NP Qty</th>
                                                        <th class="text-center align-middle text-wrap" style="width: 6%; font-size: 15px;">UOM</th>
                                                        <th class="text-center align-middle text-wrap" style="width: 24%; font-size: 15px;">Request To</th>
                                                        <th class="text-center align-middle text-wrap" style="width: 18%; font-size: 15px;">Remarks</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var line in pomfLines)
                                                {
                                                    <tr>
                                                        @if (param == null)
                                                        {
                                                            <td class="text-center align-middle text-wrap"><button type="button" class="btn btn-sm btn-danger h-100 w-100" @onclick="(() => pomfLines.Remove(line))" disabled="@(successUpload ? "disabled" : null)"><i class="oi oi-delete"></i></button></td>

                                                            <td class="text-center align-middle text-wrap">@line.ItemCode</td>
                                                            <td class="text-center align-middle text-wrap">@line.ItemDescription</td>
                                                            @if (auto != null)
                                                            {
                                                                @if (auto.isAutomaticApproval)
                                                                {
                                                                    <td class="text-center align-middle text-wrap">@line.RequestQuantity</td>
                                                                    <td class="text-center align-middle text-wrap">@line.NPQuantity</td>
                                                                    <td class="text-center align-middle text-wrap">@line.ItemUOM</td>
                                                                    <td class="text-center align-middle text-wrap"><input type="text" class="form-control" @bind-value="line.Remarks" readonly="@(successUpload ? "readonly" : null)" /></td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="text-center align-middle text-wrap bg-warning fw-bold">
                                                                        @if (isMaxQtyLoading)
                                                                        {
                                                                            <span class="spinner-border spinner-border-sm"></span>
                                                                        }
                                                                        else
                                                                        {
                                                                            @if (maxThresholdQty != null)
                                                                            {
                                                                                @if (maxThresholdQty.Count > 0)
                                                                                {
                                                                                    var maxqty = maxThresholdQty.SingleOrDefault(x => x.ItemCode.Equals(line.ItemCode));

                                                                                    @if (maxqty != null)
                                                                                    {
                                                                                        @(line.NPQuantity - maxqty.MaxQuantity)
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @line.NPQuantity
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    @line.NPQuantity
                                                                                }
                                                                            }
                                                                        }
                                                                    </td>
                                                                    <td class="text-center align-middle text-wrap"><input type="number" class="form-control my-auto" @bind-value="line.RequestQuantity" readonly="@(successUpload ? "readonly" : null)" /></td>
                                                                    <td class="text-center align-middle text-wrap">@line.NPQuantity</td>
                                                                    <td class="text-center align-middle text-wrap">@line.ItemUOM</td>
                                                                    <td>
                                                                        <InputSelect id="site_sender" @bind-Value="line.RequestToSite" class="form-select" disabled="@(successUpload)">
                                                                            @if (checkLocation())
                                                                            {
                                                                                <option hidden disabled value="">Select Request Location</option>

                                                                                <option value="Supplier">SUPPLIER</option>
                                                                                @foreach (var location in ManagementService.locations)
                                                                                {
                                                                                    <option value="@location.locationId">@location.locationId - @location.locationName</option>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <option disabled value="BLANK">Location Empty</option>
                                                                            }
                                                                        </InputSelect>
                                                                    </td>
                                                                    <td class="text-center align-middle text-wrap"><input type="text" class="form-control my-auto" @bind-value="line.Remarks" readonly="@(successUpload ? "readonly" : null)" /></td>
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td class="text-center align-middle text-wrap"><button type="button" class="btn btn-sm btn-danger h-100 w-100" @onclick="(() => pomfLines.Remove(line))" disabled="@(successUpload ? "disabled" : null)"><i class="oi oi-delete"></i></button></td>

                                                            <td class="text-center align-middle text-wrap">@line.ItemCode</td>
                                                            <td class="text-center align-middle text-wrap">@line.ItemDescription</td>
                                                            <td class="text-center align-middle text-wrap"><input type="number" class="form-control my-auto" @bind-value="line.RequestQuantity" readonly="@(successUpload ? "readonly" : null)" /></td>
                                                            <td class="text-center align-middle text-wrap">@line.NPQuantity</td>
                                                            <td class="text-center align-middle text-wrap">@line.ItemUOM</td>
                                                            <td class="text-center align-middle text-wrap">
                                                                <InputSelect id="site_sender" @bind-Value="line.RequestToSite" class="form-select" disabled="@(successUpload)">
                                                                    @if (checkLocation())
                                                                    {
                                                                        <option hidden disabled value="">Select Request Location</option>

                                                                        <option value="Supplier">SUPPLIER</option>
                                                                        @foreach (var location in ManagementService.locations)
                                                                        {
                                                                            <option value="@location.locationId">@location.locationId - @location.locationName</option>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <option disabled value="BLANK">Location Empty</option>
                                                                    }
                                                                </InputSelect>
                                                            </td>
                                                            <td class="text-center align-middle text-wrap"><input type="text" class="form-control my-auto" @bind-value="line.Remarks" readonly="@(successUpload ? "readonly" : null)" /></td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }

                                    <div class="row my-2">
                                        <div class="col">
                                            <button type="button" title="Reset Data" class="btn btn-dark fw-bold" disabled="@(successUpload ? "disabled" : null)" @onclick="resetForm">Reset</button>
                                            <button type="submit" title="Submit Data" class="btn btn-primary-cus fw-bold" disabled="@(successUpload ? "disabled" : null)" @onclick="createPOMFDocument">Create POMF</button>
                                        </div>
                                    </div>
                                </EditForm>
                            }
                            

                        </div>
                    </div>

                </div>
            </div>
        }
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col align-middle text-center">
                    <h3>Fetch Data Privileges in Process</h3>
                    <small>Refresh Page Using Button Below If There is No Response</small>
                    <br />
                    <button type="button" class="btn btn-primary my-4" @onclick="(() => StateHasChanged())"><b>Refresh Page</b></button>
                </div>
            </div>
        </div>
    }
}

@if (isLoading)
{
    <div class="modal show" id="splashLoading" tabindex="-5" role="dialog" aria-labelledby="splashLoadingDialog" aria-hidden="true" style="display:block; background: rgba(0,0,0, 0.7);">
        <BPIWebApplication.Client.Shared.CustomLayout.SplashScreen></BPIWebApplication.Client.Shared.CustomLayout.SplashScreen>
    </div>
}

@*Document Onprogress Modal*@
<div class="modal fade" id="selectitembyNPandReceiptModal" tabindex="-3" role="dialog" aria-labelledby="selectitembyNPandReceiptModalLabel" aria-hidden="true" style="background: rgba(0,0,0, 0.2);">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header cus-bg">
                <h5 class="modal-title fw-bold" id="selectitembyNPandReceiptModalLabel"><i class="oi oi-pin"></i> Select Item from List</h5>
                <button type="button" class="btn-close" data-dismiss="modal" data-target="#selectitembyNPandReceiptModal" aria-label="Close" @onclick="@(() => selectedNPReceiptData.Clear())">
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col">
                        @if (isMiniLoading)
                        {
                            <p class="text-center">
                                <span class="spinner-border"></span> <br />FETCH DATA FROM SERVER, PLEASE WAIT !
                            </p>
                        }
                        else
                        {
                            @if (checkNPandReceiptData())
                            {
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover" style="width: 100%">
                                        <caption>
                                            NP ID : @pomfData.NPNo, Receipt ID : @pomfData.ReceiptNo
                                        </caption>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 5%; font-size: 15px;">#</th>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 30%; font-size: 15px;">Item Code</th>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 40%; font-size: 15px;">Item Desc.</th>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 15%; font-size: 15px;">NP Quantity</th>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 15%; font-size: 15px;">UOM</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var dt in npReceiptData)
                                            {
                                                <tr>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">
                                                        <input class="form-check-input" type="checkbox" id="itemCheck" checked="@(selectedNPReceiptData.FirstOrDefault(x => x.itemCode.Equals(dt.itemCode)))" @onclick="@(() => appendSelectedItem(dt))" />
                                                    </td>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">@dt.itemCode</td>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">@dt.itemDesc</td>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">@dt.qtyNP.ToString("N0")</td>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">@dt.uom</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-primary" role="alert">
                                    <b>Data Empty !</b>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
            <div class="modal-footer cus-bg">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-target="#selectitembyNPandReceiptModal" @onclick="selectItembyNPandReceipt"><i class="oi oi-thumb-up"></i> Select</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#selectitembyNPandReceiptModal" @onclick="@(() => selectedNPReceiptData.Clear())"><i class="oi oi-thumb-down"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>

