@page "/epkrs/addepkrs"
@page "/epkrs/editepkrs/{param}"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.SessionStorage.ISyncSessionStorageService syncSessionStorage
@inject IEPKRSService EPKRSService
@inject ILoginService LoginService
@inject IManagementService ManagementService
@inject IJSRuntime JS

<PageTitle>EPKRS - Add EPKRS</PageTitle>

@if (LoginService.activeUser == null)
{
    <p>Loading...</p>
}
else
{
    if (LoginService.activeUser.userPrivileges != null)
    {
        @if (!LoginService.activeUser.userPrivileges.Contains("VW"))
        {
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <h3>User Require Elevation</h3>
                </div>
            </div>
        }
        else
        {
            <h3>EPKRS</h3>
            <small><i>Add EPKRS Document</i></small>

            @if (alertTrigger)
            {
                <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                    <strong>@alertMessage</strong> @alertBody
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="(() => alertTrigger = false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }


            @if (successAlert)
            {
                <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
                    <strong>@alertMessage</strong> @alertBody
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="(() => successAlert = false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            
            <div class="container-fluid">
                <div class="d-flex flex-column align-items-center">

                    <div class="row my-2">
                        <div class="col">

                            <label for="riskId">Tipe Reporting :</label>
                            @if (param == null)
                            {
                                <select id="riskId" class="form-select" @onchange="reportingTypeonChange" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                    @if (checkReportingType())
                                    {
                                        <option hidden value="BLANK">Pilih Tipe Reporting</option>
                                        @foreach (var reportType in EPKRSService.reportingTypes)
                                        {
                                            <option value="@reportType.ReportingID">@reportType.ReportingDescription</option>
                                        }
                                    }
                                    else
                                    {
                                        <option disabled hidden value="BLANK">Data Empty</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <select id="riskId" class="form-select" @bind="ReportingType" readonly>
                                    @if (checkReportingType())
                                    {
                                        <option hidden value="BLANK">Select Tipe Reporting</option>
                                        @foreach (var reportType in EPKRSService.reportingTypes)
                                        {
                                            <option value="@reportType.ReportingID">@reportType.ReportingDescription</option>
                                        }
                                    }
                                    else
                                    {
                                        <option disabled hidden value="BLANK">Data Empty</option>
                                    }
                                </select>
                            }

                        </div>
                    </div>

                    @if (ReportingType.Equals("ITEMC"))
                    {
                        <EditForm Model="@itemCaseData">
                            <DataAnnotationsValidator />

                            @if (formPage == 1)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="risk_id">Tipe Risiko :</label>
                                        <InputSelect id="risk_id" @bind-Value="RiskID" class="form-select">
                                            @if (checkRiskType())
                                            {
                                                <option hidden value="BLANK">Select Risk Type</option>
                                                @foreach (var riskType in EPKRSService.riskTypes)
                                                {
                                                    @if (!riskType.ReportingID.Equals(ReportingType))
                                                        continue;

                                                    <option value="@riskType.RiskID">@riskType.RiskDescription</option>
                                                }
                                            }
                                            else
                                            {
                                                <option disabled hidden value="BLANK">Data Empty</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="col">
                                        <label for="subrisk_id">Sub Tipe Risiko :</label>
                                        <InputSelect id="subrisk_id" @bind-Value="itemCaseData.SubRiskID" class="form-select">
                                            @if (checkSubRiskType())
                                            {
                                                <option hidden value="BLANK">Select Risk Sub Type</option>
                                                @foreach (var subRiskType in EPKRSService.riskSubTypes)
                                                {
                                                    @if (!subRiskType.RiskID.Equals(RiskID))
                                                        continue;

                                                    <option value="@subRiskType.SubRiskID">@subRiskType.SubRiskDescription</option>
                                                }
                                            }
                                            else
                                            {
                                                <option disabled hidden value="BLANK">Data Empty</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="doc_id">ID PKRS :</label>
                                        <InputText id="doc_id" @bind-Value="itemCaseData.DocumentID" class="form-control" readonly></InputText>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="site_reporter">Site Pelapor :</label>
                                        <InputText id="site_reporter" @bind-Value="itemCaseData.SiteReporter" class="form-control" readonly></InputText>
                                    </div>
                                    <div class="col">
                                        <label for="site_sender">Site Pengirim :</label>
                                        <InputSelect id="site_sender" @bind-Value="itemCaseData.SiteSender" class="form-select">
                                            @if (checkLocation())
                                            {
                                                @foreach (var location in ManagementService.locations)
                                                {
                                                    <option value="@location.locationId">@location.locationId - @location.locationName</option>
                                                }
                                            }
                                            else
                                            {
                                                <option disabled value="BLANK">Location Empty</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="report_date">Tanggal Pelaporan :</label>
                                        <InputDate id="report_date" @bind-Value="itemCaseData.ReportDate" class="form-control" readonly></InputDate>
                                    </div>
                                    <div class="col">
                                        <label for="pickup_date">Tanggal Penerimaan Barang :</label>
                                        <InputDate id="pickup_date" @bind-Value="itemCaseData.ItemPickupDate" class="form-control"></InputDate>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="late">Apakah Penerimaan Barang Terlambat?</label>
                                        <select id="late" class="form-select" @bind="isLate">
                                            <option hidden disabled value="BLANK">Select Condition</option>
                                            <option value="YES">Yes</option>
                                            <option value="NO">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="cctv_covered">Apakah Penerimaan Barang Tercover CCTV?</label>
                                        <select id="cctv_covered" class="form-select" @bind="isCCTVCovered">
                                            <option hidden disabled value="BLANK">Select Condition</option>
                                            <option value="YES">Yes</option>
                                            <option value="NO">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label class="text-wrap" for="reported">Apakah Berita Acara Investigasi serta bukti CCTV sudah disampaikan ke LP Pengirim Barang?</label>
                                        <select id="reported" class="form-select" @bind="isReportedtoSender">
                                            <option hidden disabled value="BLANK">Select Condition</option>
                                            <option value="YES">Yes</option>
                                            <option value="NO">No</option>
                                        </select>
                                    </div>
                                </div>

                            }

                            @if (formPage == 2)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="ld_id">Loading Document ID :</label>
                                        <div id="ld_id" class="input-group">
                                            <InputText @bind-Value="itemCaseData.LoadingDocumentID" class="form-control" readonly></InputText>
                                            <button type="button" class="btn btn-sm btn-primary-cus" @onclick="selectItembyLoadingDocumentID">...</button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="ld_date">Loading Document Date :</label>
                                        <InputDate id="ld_date" @bind-Value="itemCaseData.LoadingDocumentDate" class="form-control"></InputDate>
                                    </div>
                                </div>

                                @if (checkItemLine())
                                {
                                    <table class="table table-sm table-bordered" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th class="text-center align-middle text-wrap" style="width: 5%;">Action</th>
                                                <th class="text-center align-middle text-wrap" style="width: 15%;">TR ID</th>
                                                <th class="text-center align-middle text-wrap" style="width: 15%;">Item Code</th>
                                                <th class="text-center align-middle text-wrap" style="width: 30%;">Description</th>
                                                <th class="text-center align-middle text-wrap" style="width: 5%;">Qty</th>
                                                <th class="text-center align-middle text-wrap" style="width: 10%;">UOM</th>
                                                <th class="text-center align-middle text-wrap" style="width: 15%;">Item Value</th>
                                                <th class="text-center align-middle text-wrap" style="width: 5%;">Qty Stock</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var line in itemLineData)
                                            {
                                                <tr>
                                                    <td class="text-center align-middle text-wrap">
                                                        <button type="button" class="btn btn-sm btn-danger h-100 w-100" disabled="@((isLoading || successUpload) ? "disabled" : null)" @onclick="(() => itemLineData.Remove(line))"><i class="oi oi-delete"></i></button>
                                                    </td>
                                                    <td class="text-center align-middle text-wrap">@line.TRID</td>
                                                    <td class="text-center align-middle text-wrap">@line.ItemCode</td>
                                                    <td class="text-center align-middle text-wrap">@line.ItemDescription</td>
                                                    <td class="text-center align-middle text-wrap">@line.ItemQuantity</td>
                                                    <td class="text-center align-middle text-wrap">@line.UOM</td>
                                                    <td class="text-center align-middle text-wrap">@line.ItemValue</td>
                                                    <td class="text-center align-middle text-wrap"><input type="number" class="form-control" @bind-value="@line.ItemStock" /></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                                        <strong>Pilih Item dengan nomor Loading Dokumen Diatas !</strong>
                                    </div>
                                }

                                <div class="row my-3">
                                    <div class="col">
                                        <button type="button" title="Add New Line" class="btn btn-sm btn-warning" @onclick="@(() => fileUploads.Add(new BPIWebApplication.Shared.MainModel.Stream.FileStream()))"><b>Add</b></button>
                                    </div>
                                </div>

                                @if (checkFileAttachment())
                                {
                                    <table class="table table-sm table-bordered" style="width: 100%">
                                        <caption>&lowast; Max File Size Upload @maxFileSize MB(s)</caption>
                                        <thead>
                                            <tr>
                                                <th class="text-center align-middle text-wrap" style="width: 5%;">Action</th>
                                                <th class="text-center align-middle text-wrap" style="width: 40%;">File Name</th>
                                                <th class="text-center align-middle text-wrap" style="width: 25%; background-color:aquamarine;">Select File</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var file in fileUploads)
                                            {
                                                <tr>
                                                    <td class="text-center align-middle text-wrap"><button type="button" class="btn btn-sm btn-danger h-100 w-100" @onclick="(() => fileUploads.Remove(file))"><i class="oi oi-delete"></i></button></td>
                                                    <td class="text-center align-middle text-wrap">@file.fileName</td>
                                                    <td class="text-center align-middle text-wrap"><InputFile class="form-control form-control-file" accept=".pdf"></InputFile></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                                        <strong>Tambahkan Attachment dengan Tombol Diatas !</strong>
                                    </div>                                
                                }
                            }

                            <div class="row mt-3 mb-1">
                                <div class="col">
                                    <div class="d-flex justify-content-between align-middle">
                                        <button type="button" title="Previous Category" class="btn btn-sm btn-outline-info text-black fw-bold" disabled="@((formPage - 1) <= 0 ? "disabled" : null)" @onclick="(() => formPage -= 1)"><span class="oi oi-chevron-left"></span> Prev</button>
                                        <p><span>&lt; @inputPageMapping.SingleOrDefault(x => x.Key.Equals("ITEMC")).Value.SingleOrDefault(y => y.Key.Equals(formPage)).Value &gt;</span></p>
                                        <button type="button" title="Next Category" class="btn btn-sm btn-outline-info text-black fw-bold" disabled="@((formPage + 1) > inputPageMapping.SingleOrDefault(x => x.Key.Equals("ITEMC")).Value.Count() ? "disabled" : null)" @onclick="(() => formPage += 1)">Next <span class="oi oi-chevron-right"></span></button>
                                    </div>
                                </div>
                            </div>

                            @if (formPage.Equals(inputPageMapping.SingleOrDefault(x => x.Key.Equals("ITEMC")).Value.Count()))
                            {
                                <div class="row my-3">
                                    <div class="col">
                                        @if (param == null)
                                        {
                                            <button type="submit" title="Submit" class="btn btn-sm btn-primary-cus" @onclick="submitItemCase">
                                                Create Report
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="submit" title="Edit" class="btn btn-sm btn-primary-cus">
                                                Edit Report
                                            </button>
                                        }
                                    </div>
                                </div>
                            }

                        </EditForm>
                    }
                    else if (ReportingType.Equals("INCAC"))
                    {
                        <EditForm Model="@incidentaccidentData">
                            <DataAnnotationsValidator />

                            @if (formPage == 1)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="risk_id">Tipe Risiko :</label>
                                        <InputSelect id="risk_id" @bind-Value="RiskID" class="form-select" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                            @if (checkRiskType())
                                            {
                                                <option hidden value="BLANK">Select Risk Type</option>
                                                @foreach (var riskType in EPKRSService.riskTypes)
                                                {
                                                    @if (!riskType.ReportingID.Equals(ReportingType))
                                                        continue;

                                                    <option value="@riskType.RiskID">@riskType.RiskDescription</option>
                                                }
                                            }
                                            else
                                            {
                                                <option disabled hidden value="BLANK">Data Empty</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="col">
                                        <label for="subrisk_id">Sub Tipe Risiko :</label>
                                        <InputSelect id="subrisk_id" @bind-Value="incidentaccidentData.SubRiskID" class="form-select" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                            @if (checkSubRiskType())
                                            {
                                                <option hidden value="BLANK">Select Risk Sub Type</option>
                                                @foreach (var subRiskType in EPKRSService.riskSubTypes)
                                                {
                                                    @if (!subRiskType.RiskID.Equals(RiskID))
                                                        continue;

                                                    <option value="@subRiskType.SubRiskID">@subRiskType.SubRiskDescription</option>
                                                }
                                            }
                                            else
                                            {
                                                <option disabled hidden value="BLANK">Data Empty</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="doc_id">ID PKRS :</label>
                                        <InputText id="doc_id" @bind-Value="incidentaccidentData.DocumentID" class="form-control" readonly></InputText>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="report_date">Tanggal Pelaporan :</label>
                                        <InputDate id="report_date" @bind-Value="incidentaccidentData.ReportDate" class="form-control" readonly></InputDate>
                                    </div>
                                    <div class="col">
                                        <label for="occur_date">Tanggal Kejadian :</label>
                                        <InputDate id="occur_date" @bind-Value="incidentaccidentData.OccurenceDate" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputDate>
                                        <ValidationMessage For="(() => incidentaccidentData.OccurenceDate)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="loc_report">Site Pelapor :</label>
                                        <InputText id="loc_report" @bind-Value="incidentaccidentData.SiteReporter" class="form-control" readonly></InputText>
                                    </div>
                                    <div class="col">
                                        <label for="dept_id">Department Pelapor :</label>
                                        <InputSelect id="dept_id" @bind-Value="incidentaccidentData.DepartmentReporter" class="form-select" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                            <option hidden value="0">Select Department</option>

                                            @foreach (var dept in ManagementService.departments)
                                            {
                                                <option value="@dept.DepartmentID">@dept.DepartmentName</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="(() => incidentaccidentData.DepartmentReporter)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="riskrpname">Nama Risk RP :</label>
                                        <InputText id="riskrpname" @bind-Value="incidentaccidentData.RiskRPName" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.RiskRPName)" />
                                    </div>
                                    <div class="col">
                                        <label for="riskrpemail">Email Risk RP :</label>
                                        <InputText id="riskrpemail" @bind-Value="incidentaccidentData.RiskRPEmail" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.RiskRPEmail)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="dormname">Nama DORM :</label>
                                        <InputText id="riskrpname" @bind-Value="incidentaccidentData.DORMName" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.DORMName)" />
                                    </div>
                                    <div class="col">
                                        <label for="dormemail">Email DORM :</label>
                                        <InputText id="riskrpemail" @bind-Value="incidentaccidentData.DORMEmail" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.DORMEmail)" />
                                    </div>
                                </div>
                            }

                            @if (formPage == 2)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="case_desc">Deskripsi/Judul Kejadian :</label>
                                        <InputText id="case_desc" @bind-Value="incidentaccidentData.CaseDescription" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.CaseDescription)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="affected_dept">Department Terdampak :</label>
                                        <InputSelect id="affected_dept" @bind-Value="incidentaccidentData.DepartmentAffected" class="form-select" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                            <option hidden value="0">Select Department</option>

                                            @foreach (var dept in ManagementService.departments)
                                            {
                                                <option value="@dept.DepartmentID">@dept.DepartmentName</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="(() => incidentaccidentData.DepartmentAffected)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="cronology">Cronology :</label>
                                        <InputTextArea id="cronology" @bind-Value="incidentaccidentData.Cronology" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.Cronology)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="rootcause">Root Cause :</label>
                                        <InputTextArea id="rootcause" @bind-Value="incidentaccidentData.RootCause" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.RootCause)" />
                                    </div>
                                </div>
                            }

                            @if (formPage == 3)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="lossdesc">Deskripsi Kerugian :</label>
                                        <InputTextArea id="lossdesc" @bind-Value="incidentaccidentData.LossDescription" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.LossDescription)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="loss_amount">Estimasi Kerugian (Rp) :</label>
                                        <InputNumber id="loss_amount" @bind-Value="incidentaccidentData.LossEstimation" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)" @oninput="@((ChangeEventArgs e) => { try { if (e.Value.ToString().Length > 0) { previewLossEstimationAmount = "Rp. " + Convert.ToDecimal(e.Value).ToString("N0") + ",-"; } else { previewLossEstimationAmount = ""; } } catch (Exception exc) { } })"></InputNumber>
                                    </div>
                                    <div class="col">
                                        <label for="loss_amtdisplay">Preview Amount :</label>
                                        <input type="text" id="loss_amtdisplay" @bind="@previewLossEstimationAmount" @bind:event="onchange" class="form-control" readonly></input>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="return_amount">Jumlah Pengembalian (Rp) :</label>
                                        <InputNumber id="return_amount" @bind-Value="incidentaccidentData.ReturnAmount" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)" @oninput="@((ChangeEventArgs e) => { try { if (e.Value.ToString().Length > 0) { previewReturnAmount = "Rp. " + Convert.ToDecimal(e.Value).ToString("N0") + ",-"; } else { previewReturnAmount = ""; } } catch (Exception exc) { } })"></InputNumber>
                                    </div>
                                    <div class="col">
                                        <label for="return_amtdisplay">Preview Amount :</label>
                                        <input type="text" id="return_amtdisplay" @bind="@previewReturnAmount" @bind:event="onchange" class="form-control" readonly></input>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="riskdesc">Deskripsi Risiko :</label>
                                        <InputTextArea id="riskdesc" @bind-Value="incidentaccidentData.RiskDescription" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.RiskDescription)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="causedesc">Dampak Kejadian :</label>
                                        <InputTextArea id="causedesc" @bind-Value="incidentaccidentData.CauseDescription" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.CauseDescription)" />
                                    </div>
                                </div>
                            }

                            @if (formPage == 4)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="mitigation_pic">Email PIC :</label>
                                        <InputText id="mitigation_pic" @bind-Value="incidentaccidentData.PIC" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.PIC)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="action_plan">Action Plan :</label>
                                        <InputTextArea id="action_plan" @bind-Value="incidentaccidentData.ActionPlan" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.ActionPlan)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="target_date">Tanggal Target :</label>
                                        <InputDate id="target_date" @bind-Value="incidentaccidentData.TargetDate" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputDate>
                                        <ValidationMessage For="(() => incidentaccidentData.TargetDate)" />
                                    </div>
                                    <div class="col">
                                        <label for="mitigate_date">Tanggal Mitigasi :</label>
                                        <InputDate id="mitigate_date" @bind-Value="incidentaccidentData.MitigationDate" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputDate>
                                        <ValidationMessage For="(() => incidentaccidentData.MitigationDate)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="mitigate_plan">Deskripsi Rencana Mitigasi :</label>
                                        <InputTextArea id="mitigate_plan" @bind-Value="incidentaccidentData.MitigationPlan" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.MitigationPlan)" />
                                    </div>
                                </div>

                                @if (param == null)
                                {
                                    <div class="row my-3">
                                        <div class="col">
                                            <button type="button" title="Add New Line" class="btn btn-sm btn-warning" disabled="@((isLoading || successUpload) ? "disabled" : null)" @onclick="@(() => fileUploads.Add(new BPIWebApplication.Shared.MainModel.Stream.FileStream()))"><b>Add</b></button>
                                        </div>
                                    </div>

                                    @if (checkFileAttachment())
                                    {
                                        <table class="table table-sm table-bordered" style="width: 100%">
                                            <caption>&lowast; Max File Size Upload @maxFileSize MB(s)</caption>
                                            <thead>
                                                <tr>
                                                    <th class="text-center align-middle text-wrap" style="width: 5%;">Action</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 40%;">File Name</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 25%; background-color:aquamarine;">Select File</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var file in fileUploads)
                                                {
                                                    <tr>
                                                        <td class="text-center align-middle text-wrap"><button type="button" class="btn btn-sm btn-danger h-100 w-100" @onclick="(() => fileUploads.Remove(file))"><i class="oi oi-delete" disabled="@((isLoading || successUpload) ? "disabled" : null)"></i></button></td>
                                                        <td class="text-center align-middle text-wrap">@file.fileName</td>
                                                        <td class="text-center align-middle text-wrap"><InputFile class="form-control form-control-file" accept=".pdf" disabled="@((isLoading || successUpload) ? "disabled" : null)" OnChange="@((InputFileChangeEventArgs args) => UploadHandleSelection(args, file))"></InputFile></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                                            <strong>Please Add Attachment Using Button Above !</strong>
                                        </div>
                                    }
                                }
                            }

                            <div class="row mt-3 mb-1">
                                <div class="col">
                                    <div class="d-flex justify-content-between align-middle">
                                        <button type="button" title="Previous Category" class="btn btn-sm btn-outline-info text-black fw-bold" disabled="@((formPage - 1) <= 0 ? "disabled" : null)" @onclick="(() => formPage -= 1)"><span class="oi oi-chevron-left"></span> Prev</button>
                                        <p><span>&lt; @inputPageMapping.SingleOrDefault(x => x.Key.Equals("INCAC")).Value.SingleOrDefault(y => y.Key.Equals(formPage)).Value &gt;</span></p>
                                        <button type="button" title="Next Category" class="btn btn-sm btn-outline-info text-black fw-bold" disabled="@((formPage + 1) > inputPageMapping.SingleOrDefault(x => x.Key.Equals("INCAC")).Value.Count() ? "disabled" : null)" @onclick="(() => formPage += 1)">Next <span class="oi oi-chevron-right"></span></button>
                                    </div>
                                </div>
                            </div>

                            <ValidationSummary />

                            @if (formPage.Equals(inputPageMapping.SingleOrDefault(x => x.Key.Equals("INCAC")).Value.Count()))
                            {
                                <div class="row my-3">
                                    <div class="col">
                                        @if (param == null)
                                        {
                                            <button type="reset" title="Reset" class="btn btn-sm btn-dark" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                                Reset
                                            </button>
                                            <button type="button" title="Submit" class="btn btn-sm btn-primary-cus fw-bold" disabled="@((isLoading || successUpload) ? "disabled" : null)" @onclick="submitIncidentAccident">
                                                Create Report
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" title="Edit" class="btn btn-sm btn-primary-cus fw-bold" disabled="@((isLoading || successUpload) ? "disabled" : null)" @onclick="editIncidentAccident">
                                                Edit Report
                                            </button>
                                        }
                                    </div>
                                </div>
                            }

                        </EditForm>
                    }
                    else
                    {
                        <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                            <strong>Pilih Tipe Risiko Diatas !</strong>
                        </div>
                    }

                </div>
            </div>
        }
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col align-middle text-center">
                    <h3>Fetch Data Privileges in Process</h3>
                    <small>Refresh Page Using Button Below If There is No Response</small>
                    <br />
                    <button type="button" class="btn btn-primary my-4" @onclick="(() => StateHasChanged())"><b>Refresh Page</b></button>
                </div>
            </div>
        </div>
    }
}

@if (isLoading)
{
    <div class="modal show" id="splashLoading" tabindex="-5" role="dialog" aria-labelledby="splashLoadingDialog" aria-hidden="true" style="display:block; background: rgba(0,0,0, 0.7);">
        <BPIWebApplication.Client.Shared.CustomLayout.SplashScreen></BPIWebApplication.Client.Shared.CustomLayout.SplashScreen>
    </div>
}
