@page "/epkrs/addepkrs"
@page "/epkrs/editepkrs/{param}"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.SessionStorage.ISyncSessionStorageService syncSessionStorage
@inject IEPKRSService EPKRSService
@inject ILoginService LoginService
@inject IManagementService ManagementService
@inject IJSRuntime JS

<PageTitle>EPKRS - Add EPKRS</PageTitle>

@if (LoginService.activeUser == null)
{
    <p>Loading...</p>
}
else
{
    if (LoginService.activeUser.userPrivileges != null)
    {
        @if (!LoginService.activeUser.userPrivileges.Contains("VW"))
        {
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <h3>User Require Elevation</h3>
                </div>
            </div>
        }
        else
        {
            <h3>EPKRS</h3>
            <small><i>Add EPKRS Document</i></small>

            @if (alertTrigger)
            {
                <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                    <strong>@alertMessage</strong> @alertBody
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="(() => alertTrigger = false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }


            @if (successAlert)
            {
                <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
                    <strong>@alertMessage</strong> @alertBody
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="(() => successAlert = false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            
            <div class="container-fluid">
                <div class="d-flex flex-column align-items-center">

                    <div class="row my-2">
                        <div class="col">
                            <label for="riskId">Tipe Reporting : <i class="text-danger">&ast;</i></label>
                            @if (param == null)
                            {
                                <select id="riskId" class="form-select" @onchange="reportingTypeonChange" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                    @if (checkReportingType())
                                    {
                                        <option hidden value="BLANK">Pilih Tipe Reporting</option>
                                        @foreach (var reportType in EPKRSService.reportingTypes)
                                        {
                                            @if (activeUser.location.Equals("") && reportType.ReportingID.Equals("ITEMC"))
                                                continue;

                                            <option value="@reportType.ReportingID">@reportType.ReportingDescription</option>
                                        }
                                    }
                                    else
                                    {
                                        <option disabled hidden value="BLANK">Data Empty</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <select id="riskId" class="form-select" @bind="ReportingType" readonly>
                                    @if (checkReportingType())
                                    {
                                        <option hidden value="BLANK">Select Tipe Reporting</option>
                                        @foreach (var reportType in EPKRSService.reportingTypes)
                                        {
                                            <option value="@reportType.ReportingID">@reportType.ReportingDescription</option>
                                        }
                                    }
                                    else
                                    {
                                        <option disabled hidden value="BLANK">Data Empty</option>
                                    }
                                </select>
                            }

                        </div>
                    </div>

                    @if (ReportingType.Equals("ITEMC"))
                    {
                        <EditForm Model="@itemCaseData">
                            <DataAnnotationsValidator />

                            @if (formPage == 1)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="risk_id">Tipe Risiko : <i class="text-danger">&ast;</i></label>
                                        <InputSelect id="risk_id" @bind-Value="RiskID" class="form-select" disabled="@(isLoading || successUpload)">
                                            @if (checkRiskType())
                                            {
                                                <option hidden value="BLANK">Select Risk Type</option>
                                                @foreach (var riskType in EPKRSService.riskTypes)
                                                {
                                                    @if (!riskType.ReportingID.Equals(ReportingType))
                                                        continue;

                                                    <option value="@riskType.RiskID">@riskType.RiskDescription</option>
                                                }
                                            }
                                            else
                                            {
                                                <option disabled hidden value="BLANK">Data Empty</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="(() => RiskID)" />
                                    </div>
                                    <div class="col">
                                        <label for="subrisk_id">Sub Tipe Risiko : <i class="text-danger">&ast;</i></label>
                                        <InputSelect id="subrisk_id" @bind-Value="itemCaseData.SubRiskID" class="form-select" disabled="@(isLoading || successUpload)">
                                            @if (checkSubRiskType())
                                            {
                                                <option hidden value="BLANK">Select Risk Sub Type</option>
                                                @foreach (var subRiskType in EPKRSService.riskSubTypes)
                                                {
                                                    @if (!subRiskType.RiskID.Equals(RiskID))
                                                        continue;

                                                    <option value="@subRiskType.SubRiskID">@subRiskType.SubRiskDescription</option>
                                                }
                                            }
                                            else
                                            {
                                                <option disabled hidden value="BLANK">Data Empty</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="(() => itemCaseData.SubRiskID)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="doc_id">ID PKRS :</label>
                                        <InputText id="doc_id" @bind-Value="itemCaseData.DocumentID" class="form-control" readonly></InputText>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="site_reporter">Site Pelapor :</label>
                                        <InputText id="site_reporter" @bind-Value="itemCaseData.SiteReporter" class="form-control" readonly></InputText>
                                    </div>
                                    <div class="col">
                                        <label for="site_sender">Site Pengirim : <i class="text-danger">&ast;</i></label>
                                        <InputSelect id="site_sender" @bind-Value="itemCaseData.SiteSender" class="form-select" disabled="@(isLoading || successUpload)">
                                            @if (checkLocation())
                                            {
                                                @foreach (var location in ManagementService.locations)
                                                {
                                                    @*if (!location.locationName.Contains("DC"))
                                                        continue;*@

                                                    <option value="@location.locationId">@location.locationId - @location.locationName</option>
                                                }
                                            }
                                            else
                                            {
                                                <option disabled value="BLANK">Location Empty</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="(() => itemCaseData.SiteSender)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="report_date">Tanggal Pelaporan : </label>
                                        <InputDate id="report_date" @bind-Value="itemCaseData.ReportDate" class="form-control" readonly></InputDate>
                                    </div>
                                    <div class="col">
                                        <label for="pickup_date">Tanggal Penerimaan Barang : <i class="text-danger">&ast;</i></label>
                                        <InputDate id="pickup_date" @bind-Value="itemCaseData.ItemPickupDate" class="form-control" disabled="@(isLoading || successUpload)"></InputDate>
                                        <ValidationMessage For="(() => itemCaseData.ItemPickupDate)" />
                                    </div>
                                </div>
                            }

                            @if (formPage == 2)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="ld_id">Loading Document ID : <i class="text-danger">&ast;</i></label>
                                        <div id="ld_id" class="input-group">
                                            <InputText @bind-Value="itemCaseData.LoadingDocumentID" class="form-control" disabled="@(isLoading || successUpload)"></InputText>
                                            <button type="button" class="btn btn-sm btn-primary-cus" data-toggle="modal" data-target="#selectitembyLMModal" @onclick="selectItembyLoadingDocumentID" disabled="@(isLoading || successUpload)">...</button>
                                            <ValidationMessage For="(() => itemCaseData.LoadingDocumentID)" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="ld_date">Tanggal Loading Document : <i class="text-danger">&ast;</i></label>
                                        <InputDate id="ld_date" @bind-Value="itemCaseData.LoadingDocumentDate" class="form-control" disabled></InputDate>
                                        <ValidationMessage For="(() => itemCaseData.LoadingDocumentDate)" />
                                    </div>
                                </div>

                                @if (checkItemLine())
                                {
                                    <div class="table-responsive">
                                        <table class="table table-sm table-bordered" style="width: 100%">
                                            <thead>
                                                <tr class="table-primary">
                                                    <th class="text-center align-middle text-wrap" style="width: 13%;">TR ID</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 11%;">Kode Barang</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 30%;">Detail Barang</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 8%;">Qty <i class="text-danger">&ast;</i></th>
                                                    <th class="text-center align-middle text-wrap" style="width: 6%;">UOM</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 17%;">Nilai Satuan</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 8%;">Qty Stock <i class="text-danger">&ast;</i></th>
                                                    <th class="text-center align-middle text-wrap" style="width: 5%;">Item Status <i class="text-danger">&ast;</i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var line in itemLineData.OrderBy(x => x.LineNum))
                                                {
                                                    <tr>
                                                        <td class="text-center align-middle text-wrap">@line.TRID</td>
                                                        <td class="text-center align-middle text-wrap">@line.ItemCode</td>
                                                        <td class="text-center align-middle text-wrap">@line.ItemDescription</td>
                                                        <td class="text-center align-middle text-wrap"><input type="number" class="form-control" @bind-value="@line.ItemQuantity" disabled="@(isLoading || successUpload)" /></td>
                                                        <td class="text-center align-middle text-wrap">@line.UOM</td>
                                                        <td class="text-center align-middle text-wrap">Rp. @line.ItemValue.ToString("N0") ,-</td>
                                                        <td class="text-center align-middle text-wrap"><input type="number" class="form-control" @bind-value="@line.ItemStock" disabled="@(isLoading || successUpload)" /></td>
                                                        <td class="text-center align-middle text-wrap">
                                                            <div class="btn-group dropdown">
                                                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="oi oi-expand-down"></i>
                                                                </button>
                                                                <div class="dropdown-menu dropdown-menu-right" id="dropdownSelector" onclick="event.stopPropagation();">
                                                                    <form class="px-4 py-2">

                                                                        <div class="row my-1">
                                                                            <div class="col">
                                                                                <label for="epkrs_itemcat">Tipe Barang Bermasalah : <i class="text-danger">&ast;</i></label>
                                                                                <select id="epkrs_itemcat" class="form-select" @bind="@line.ItemRiskCategoryID" disabled="@(isLoading || successUpload)">
                                                                                    <option value="BLANK" hidden>Select Sub Cat.</option>
                                                                                    @if (checkItemRiskCategory())
                                                                                    {
                                                                                        @foreach (var itemCat in EPKRSService.itemRiskCategories)
                                                                                        {
                                                                                            <option value="@itemCat.ItemRiskCategoryID">@itemCat.CategoryDescription</option>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <option value="" disabled>No Sub Category Found</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row my-1">
                                                                            <div class="col">
                                                                                <label for="late">Apakah Penerimaan Barang Terlambat ? <i class="text-danger">&ast;</i></label>
                                                                                <select id="late" class="form-select" @bind="line.isLate" disabled="@(isLoading || successUpload)">
                                                                                    <option hidden disabled value="BLANK">Select Condition</option>
                                                                                    <option value="TRUE">Ya</option>
                                                                                    <option value="FALSE">Tidak</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row my-1">
                                                                            <div class="col">
                                                                                <label for="cctv_covered">Apakah Penerimaan Barang Tercover CCTV ? <i class="text-danger">&ast;</i></label>
                                                                                <select id="cctv_covered" class="form-select" @bind="line.isCCTVCoverable" disabled="@(isLoading || successUpload)">
                                                                                    <option hidden disabled value="BLANK">Select Condition</option>
                                                                                    <option value="TRUE">Ya</option>
                                                                                    <option value="FALSE">Tidak</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row my-1">
                                                                            <div class="col">
                                                                                <label class="text-wrap" for="reported">Apakah Berita Acara Investigasi serta bukti CCTV sudah disampaikan ke LP Pengirim Barang ? <i class="text-danger">&ast;</i></label>
                                                                                <select id="reported" class="form-select" @bind="line.isReportedtoSender" disabled="@(isLoading || successUpload)">
                                                                                    <option hidden disabled value="BLANK">Select Condition</option>
                                                                                    <option value="TRUE">Ya</option>
                                                                                    <option value="FALSE">Tidak</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td class="text-center align-middle text-wrap fw-bold" colspan="5">Total Value</td>
                                                    @{
                                                        var sum = decimal.Zero;
                                                        itemLineData.ForEach(x =>
                                                        {
                                                            sum += (x.ItemQuantity * x.ItemValue);
                                                        });
                                                    }
                                                    <td class="text-center align-middle text-wrap fw-bold" colspan="3">Rp. @sum.ToString("N0") ,-</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                                        <strong>Pilih Item dengan nomor Loading Dokumen Diatas !</strong>
                                    </div>
                                }

                                @if (param == null)
                                {
                                    <div class="row my-3">
                                        <div class="col">
                                            <button type="button" title="Add New Line" class="btn btn-sm btn-warning" @onclick="@(() => fileUploads.Add(new BPIWebApplication.Shared.MainModel.Stream.FileStream()))" disabled="@(isLoading || successUpload)"><b>Add</b></button>
                                        </div>
                                    </div>

                                    @if (checkFileAttachment())
                                    {
                                        <table class="table table-sm table-bordered" style="width: 100%">
                                            <caption>&lowast; Max File Size Upload @maxFileSize MB(s)</caption>
                                            <thead>
                                                <tr>
                                                    <th class="text-center align-middle text-wrap" style="width: 5%;">Action</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 40%;">File Name</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 25%; background-color:aquamarine;">Select File <i class="text-danger">&ast;</i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var file in fileUploads)
                                                {
                                                    <tr>
                                                        <td class="text-center align-middle text-wrap"><button type="button" class="btn btn-sm btn-danger h-100 w-100" disabled="@(isLoading || successUpload)" @onclick="(() => fileUploads.Remove(file))"><i class="oi oi-delete"></i></button></td>
                                                        <td class="text-center align-middle text-wrap">@file.fileName</td>
                                                        <td class="text-center align-middle text-wrap"><InputFile class="form-control form-control-file" accept=".pdf" disabled="@(isLoading || successUpload)" OnChange="@((InputFileChangeEventArgs args) => UploadHandleSelection(args, file))"></InputFile></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                                            <strong>Tambahkan Attachment dengan Tombol Diatas !</strong>
                                        </div>                                
                                    }
                                }
                            }

                            <div class="row mt-3 mb-1">
                                <div class="col">
                                    <div class="d-flex justify-content-between align-middle">
                                        <button type="button" title="Previous Category" class="btn btn-sm btn-outline-info text-black fw-bold" disabled="@((formPage - 1) <= 0 ? "disabled" : null)" @onclick="(() => formPage -= 1)"><span class="oi oi-chevron-left"></span> Prev</button>
                                        <p><span>&lt; @inputPageMapping.SingleOrDefault(x => x.Key.Equals("ITEMC")).Value.SingleOrDefault(y => y.Key.Equals(formPage)).Value &gt;</span></p>
                                        <button type="button" title="Next Category" class="btn btn-sm btn-outline-info text-black fw-bold" disabled="@((formPage + 1) > inputPageMapping.SingleOrDefault(x => x.Key.Equals("ITEMC")).Value.Count() ? "disabled" : null)" @onclick="(() => formPage += 1)">Next <span class="oi oi-chevron-right"></span></button>
                                    </div>
                                </div>
                            </div>

                            @if (formPage.Equals(inputPageMapping.SingleOrDefault(x => x.Key.Equals("ITEMC")).Value.Count()))
                            {
                                <div class="row my-3">
                                    <div class="col">
                                        @if (param == null)
                                        {
                                            <button type="submit" title="Submit" class="btn btn-sm btn-primary-cus" disabled="@(isLoading || successUpload)" @onclick="submitItemCase">
                                                Create Report
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="submit" title="Edit" class="btn btn-sm btn-primary-cus" disabled="@(isLoading || successUpload)" @onclick="editItemCase">
                                                Edit Report
                                            </button>
                                        }
                                    </div>
                                </div>
                            }

                        </EditForm>
                    }
                    else if (ReportingType.Equals("INCAC"))
                    {
                        <EditForm Model="@incidentaccidentData">
                            <DataAnnotationsValidator />

                            @if (formPage == 1)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="risk_id">Tipe Risiko : <i class="text-danger">&ast;</i></label>
                                        <InputSelect id="risk_id" @bind-Value="RiskID" class="form-select" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                            @if (checkRiskType())
                                            {
                                                <option hidden value="BLANK">Select Risk Type</option>
                                                @foreach (var riskType in EPKRSService.riskTypes)
                                                {
                                                    @if (!riskType.ReportingID.Equals(ReportingType))
                                                        continue;

                                                    <option value="@riskType.RiskID">@riskType.RiskDescription</option>
                                                }
                                            }
                                            else
                                            {
                                                <option disabled hidden value="BLANK">Data Empty</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="(() => RiskID)" />
                                    </div>
                                    <div class="col">
                                        <label for="subrisk_id">Sub Tipe Risiko : <i class="text-danger">&ast;</i></label>
                                        <InputSelect id="subrisk_id" @bind-Value="incidentaccidentData.SubRiskID" class="form-select" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                            @if (checkSubRiskType())
                                            {
                                                <option hidden value="BLANK">Select Risk Sub Type</option>
                                                @foreach (var subRiskType in EPKRSService.riskSubTypes)
                                                {
                                                    @if (!subRiskType.RiskID.Equals(RiskID))
                                                        continue;

                                                    <option value="@subRiskType.SubRiskID">@subRiskType.SubRiskDescription</option>
                                                }
                                            }
                                            else
                                            {
                                                <option disabled hidden value="BLANK">Data Empty</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="(() => incidentaccidentData.SubRiskID)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="doc_id">ID PKRS :</label>
                                        <InputText id="doc_id" @bind-Value="incidentaccidentData.DocumentID" class="form-control" readonly></InputText>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="report_date">Tanggal Pelaporan :</label>
                                        <InputDate id="report_date" @bind-Value="incidentaccidentData.ReportDate" class="form-control" readonly></InputDate>
                                    </div>
                                    <div class="col">
                                        <label for="occur_date">Tanggal Kejadian : <i class="text-danger">&ast;</i></label>
                                        <InputDate id="occur_date" @bind-Value="incidentaccidentData.OccurenceDate" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputDate>
                                        <ValidationMessage For="(() => incidentaccidentData.OccurenceDate)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="loc_report">Site Pelapor :</label>
                                        <InputText id="loc_report" @bind-Value="incidentaccidentData.SiteReporter" class="form-control" readonly></InputText>
                                    </div>
                                    <div class="col">
                                        <label for="dept_id">Department Pelapor : <i class="text-danger">&ast;</i></label>
                                        <InputSelect id="dept_id" @bind-Value="incidentaccidentData.DepartmentReporter" class="form-select" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                            <option hidden value="0">Select Department</option>

                                            @foreach (var dept in ManagementService.departments)
                                            {
                                                <option value="@dept.DepartmentID">@dept.DepartmentName</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="(() => incidentaccidentData.DepartmentReporter)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="riskrpname">Nama Risk RP : <i class="text-danger">&ast;</i></label>
                                        <InputText id="riskrpname" @bind-Value="incidentaccidentData.RiskRPName" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.RiskRPName)" />
                                    </div>
                                    <div class="col">
                                        <label for="riskrpemail">Email Risk RP : <i class="text-danger">&ast;</i></label>
                                        <InputText id="riskrpemail" @bind-Value="incidentaccidentData.RiskRPEmail" placeholder="email_mitra@mitra10.com" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.RiskRPEmail)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="dormname">Nama DORM : <i class="text-danger">&ast;</i></label>
                                        <InputText id="riskrpname" @bind-Value="incidentaccidentData.DORMName" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.DORMName)" />
                                    </div>
                                    <div class="col">
                                        <label for="dormemail">Email DORM : <i class="text-danger">&ast;</i></label>
                                        <InputText id="riskrpemail" @bind-Value="incidentaccidentData.DORMEmail" placeholder="email_mitra@mitra10.com" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.DORMEmail)" />
                                    </div>
                                </div>
                            }

                            @if (formPage == 2)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="case_desc">Deskripsi/Judul Kejadian : <i class="text-danger">&ast;</i></label>
                                        <InputText id="case_desc" @bind-Value="incidentaccidentData.CaseDescription" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.CaseDescription)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="affected_dept">Department Terdampak : <i class="text-danger">&ast;</i></label>
                                        <InputSelect id="affected_dept" @bind-Value="incidentaccidentData.DepartmentAffected" class="form-select" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                            <option hidden value="0">Select Department</option>

                                            @foreach (var dept in ManagementService.departments)
                                            {
                                                <option value="@dept.DepartmentID">@dept.DepartmentName</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="(() => incidentaccidentData.DepartmentAffected)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="cronology">Kronologi : <i class="text-danger">&ast;</i></label>
                                        <InputTextArea id="cronology" @bind-Value="incidentaccidentData.Cronology" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.Cronology)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="rootcause">Root Cause : <i class="text-danger">&ast;</i></label>
                                        <InputTextArea id="rootcause" @bind-Value="incidentaccidentData.RootCause" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.RootCause)" />
                                    </div>
                                </div>
                            }

                            @if (formPage == 3)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="lossdesc">Deskripsi Kerugian : <i class="text-danger">&ast;</i></label>
                                        <InputTextArea id="lossdesc" @bind-Value="incidentaccidentData.LossDescription" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.LossDescription)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="loss_amount">Estimasi Kerugian (Rp) : <i class="text-danger">&ast;</i></label>
                                        <InputNumber id="loss_amount" @bind-Value="incidentaccidentData.LossEstimation" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)" @oninput="@((ChangeEventArgs e) => { try { if (e.Value.ToString().Length > 0) { previewLossEstimationAmount = "Rp. " + Convert.ToDecimal(e.Value).ToString("N0") + ",-"; } else { previewLossEstimationAmount = ""; } } catch (Exception exc) { } })"></InputNumber>
                                    </div>
                                    <div class="col">
                                        <label for="loss_amtdisplay">Preview Amount :</label>
                                        <input type="text" id="loss_amtdisplay" @bind="@previewLossEstimationAmount" @bind:event="onchange" class="form-control" readonly></input>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="return_amount">Jumlah Pengembalian (Rp) : <i class="text-danger">&ast;</i></label>
                                        <InputNumber id="return_amount" @bind-Value="incidentaccidentData.ReturnAmount" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)" @oninput="@((ChangeEventArgs e) => { try { if (e.Value.ToString().Length > 0) { previewReturnAmount = "Rp. " + Convert.ToDecimal(e.Value).ToString("N0") + ",-"; } else { previewReturnAmount = ""; } } catch (Exception exc) { } })"></InputNumber>
                                    </div>
                                    <div class="col">
                                        <label for="return_amtdisplay">Preview Amount :</label>
                                        <input type="text" id="return_amtdisplay" @bind="@previewReturnAmount" @bind:event="onchange" class="form-control" readonly></input>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="riskdesc">Deskripsi Risiko : <i class="text-danger">&ast;</i></label>
                                        <InputTextArea id="riskdesc" @bind-Value="incidentaccidentData.RiskDescription" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.RiskDescription)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="causedesc">Dampak Kejadian : <i class="text-danger">&ast;</i></label>
                                        <InputTextArea id="causedesc" @bind-Value="incidentaccidentData.CauseDescription" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.CauseDescription)" />
                                    </div>
                                </div>
                            }

                            @if (formPage == 4)
                            {
                                <div class="row my-2">
                                    <div class="col">
                                        <label for="mitigation_pic">Email PIC : <i class="text-danger">&ast;</i></label>
                                        <InputText id="mitigation_pic" @bind-Value="incidentaccidentData.PIC" placeholder="email_mitra@mitra10.com" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputText>
                                        <ValidationMessage For="(() => incidentaccidentData.PIC)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="action_plan">Action Plan : <i class="text-danger">&ast;</i></label>
                                        <InputTextArea id="action_plan" @bind-Value="incidentaccidentData.ActionPlan" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.ActionPlan)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="target_date">Tanggal Target : <i class="text-danger">&ast;</i></label>
                                        <InputDate id="target_date" @bind-Value="incidentaccidentData.TargetDate" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputDate>
                                        <ValidationMessage For="(() => incidentaccidentData.TargetDate)" />
                                    </div>
                                    <div class="col">
                                        <label for="mitigate_date">Tanggal Mitigasi : <i class="text-danger">&ast;</i></label>
                                        <InputDate id="mitigate_date" @bind-Value="incidentaccidentData.MitigationDate" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputDate>
                                        <ValidationMessage For="(() => incidentaccidentData.MitigationDate)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col">
                                        <label for="mitigate_plan">Deskripsi Rencana Mitigasi : <i class="text-danger">&ast;</i></label>
                                        <InputTextArea id="mitigate_plan" @bind-Value="incidentaccidentData.MitigationPlan" class="form-control" readonly="@((isLoading || successUpload) ? "readonly" : null)"></InputTextArea>
                                        <ValidationMessage For="(() => incidentaccidentData.MitigationPlan)" />
                                    </div>
                                </div>

                                @if (param == null)
                                {
                                    <div class="row my-3">
                                        <div class="col">
                                            <button type="button" title="Add New Line" class="btn btn-sm btn-warning" disabled="@((isLoading || successUpload) ? "disabled" : null)" @onclick="@(() => fileUploads.Add(new BPIWebApplication.Shared.MainModel.Stream.FileStream()))"><b>Add</b></button>
                                        </div>
                                    </div>

                                    @if (checkFileAttachment())
                                    {
                                        <table class="table table-sm table-bordered" style="width: 100%">
                                            <caption>&lowast; Max File Size Upload @maxFileSize MB(s)</caption>
                                            <thead>
                                                <tr>
                                                    <th class="text-center align-middle text-wrap" style="width: 5%;">Action</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 40%;">File Name</th>
                                                    <th class="text-center align-middle text-wrap" style="width: 25%; background-color:aquamarine;">Select File</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var file in fileUploads)
                                                {
                                                    <tr>
                                                        <td class="text-center align-middle text-wrap"><button type="button" class="btn btn-sm btn-danger h-100 w-100" disabled="@((isLoading || successUpload) ? "disabled" : null)" @onclick="(() => fileUploads.Remove(file))"><i class="oi oi-delete" disabled="@((isLoading || successUpload) ? "disabled" : null)"></i></button></td>
                                                        <td class="text-center align-middle text-wrap">@file.fileName</td>
                                                        <td class="text-center align-middle text-wrap"><InputFile class="form-control form-control-file" accept=".pdf" disabled="@((isLoading || successUpload) ? "disabled" : null)" OnChange="@((InputFileChangeEventArgs args) => UploadHandleSelection(args, file))"></InputFile></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                                            <strong>Please Add Attachment Using Button Above !</strong>
                                        </div>
                                    }
                                }
                            }

                            <div class="row mt-3 mb-1">
                                <div class="col">
                                    <div class="d-flex justify-content-between align-middle">
                                        <button type="button" title="Previous Category" class="btn btn-sm btn-outline-info text-black fw-bold" disabled="@((formPage - 1) <= 0 ? "disabled" : null)" @onclick="(() => formPage -= 1)"><span class="oi oi-chevron-left"></span> Prev</button>
                                        <p><span>&lt; @inputPageMapping.SingleOrDefault(x => x.Key.Equals("INCAC")).Value.SingleOrDefault(y => y.Key.Equals(formPage)).Value &gt;</span></p>
                                        <button type="button" title="Next Category" class="btn btn-sm btn-outline-info text-black fw-bold" disabled="@((formPage + 1) > inputPageMapping.SingleOrDefault(x => x.Key.Equals("INCAC")).Value.Count() ? "disabled" : null)" @onclick="(() => formPage += 1)">Next <span class="oi oi-chevron-right"></span></button>
                                    </div>
                                </div>
                            </div>

                            <ValidationSummary />

                            @if (formPage.Equals(inputPageMapping.SingleOrDefault(x => x.Key.Equals("INCAC")).Value.Count()))
                            {
                                <div class="row my-3">
                                    <div class="col">
                                        @if (param == null)
                                        {
                                            @*<button type="reset" title="Reset" class="btn btn-sm btn-dark" disabled="@((isLoading || successUpload) ? "disabled" : null)">
                                                Reset
                                            </button>*@
                                            <button type="submit" title="Submit" class="btn btn-sm btn-primary-cus fw-bold" disabled="@((isLoading || successUpload) ? "disabled" : null)" @onclick="submitIncidentAccident">
                                                Create Report
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" title="Edit" class="btn btn-sm btn-primary-cus fw-bold" disabled="@((isLoading || successUpload) ? "disabled" : null)" @onclick="editIncidentAccident">
                                                Edit Report
                                            </button>
                                        }
                                    </div>
                                </div>
                            }

                        </EditForm>
                    }
                    else
                    {
                        <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                            <strong>Pilih Tipe Risiko Diatas !</strong>
                        </div>
                    }

                </div>
            </div>
        }
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col align-middle text-center">
                    <h3>Fetch Data Privileges in Process</h3>
                    <small>Refresh Page Using Button Below If There is No Response</small>
                    <br />
                    <button type="button" class="btn btn-primary my-4" @onclick="(() => StateHasChanged())"><b>Refresh Page</b></button>
                </div>
            </div>
        </div>
    }
}

@if (isLoading)
{
    <div class="modal show" id="splashLoading" tabindex="-5" role="dialog" aria-labelledby="splashLoadingDialog" aria-hidden="true" style="display:block; background: rgba(0,0,0, 0.7);">
        <BPIWebApplication.Client.Shared.CustomLayout.SplashScreen></BPIWebApplication.Client.Shared.CustomLayout.SplashScreen>
    </div>
}

@*Document Onprogress Modal*@
<div class="modal fade" id="selectitembyLMModal" tabindex="-3" role="dialog" aria-labelledby="selectitembyLMModalLabel" aria-hidden="true" style="background: rgba(0,0,0, 0.2);">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header cus-bg">
                <h5 class="modal-title fw-bold" id="selectitembyLMModalLabel"><i class="oi oi-pin"></i> Select Item from List</h5>
                <button type="button" class="close" data-dismiss="modal" data-target="#selectitembyLMModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col">
                        @if (isMiniLoading)
                        {
                            <p class="text-center">
                                <span class="spinner-border"></span> <br />FETCH DATA FROM SERVER, PLEASE WAIT !
                            </p>
                        }
                        else
                        {
                            @if (checkLMData())
                            {
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover" style="width: 100%">
                                        <caption>
                                            Loading Manifest ID : @itemCaseData.LoadingDocumentID
                                        </caption>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 5%; font-size: 15px;">#</th>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 11%; font-size: 15px;">Location ID</th>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 19%; font-size: 15px;">TR No</th>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 15%; font-size: 15px;">Item Code</th>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 26%; font-size: 15px;">Item Desc.</th>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 15%; font-size: 15px;">Value</th>
                                                <th scope="col" class="text-center align-middle text-wrap" style="width: 9%; font-size: 15px;">UOM</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var dt in lmData)
                                            {
                                                <tr>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">
                                                        <input class="form-check-input" type="checkbox" id="itemCheck" checked="@(selectedLMData.FirstOrDefault(x => x.siteNo.Equals(dt.siteNo) && x.trNo.Equals(dt.trNo) && x.itemCode.Equals(dt.itemCode)) != null)" @onclick="@(() => appendSelectedLMItem(dt))" />
                                                    </td>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">@dt.siteNo</td>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">@dt.trNo</td>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">@dt.itemCode</td>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">@dt.itemDesc</td>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">Rp. @dt.itemValue.ToString("N0") ,-</td>
                                                    <td class="text-center align-middle text-wrap" style="font-size:14px;">@dt.uom</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-primary" role="alert">
                                    <b>Data Empty !</b>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
            <div class="modal-footer cus-bg">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-target="#selectitembyLMModal" @onclick="selectItembyLoadingDocument"><i class="oi oi-thumb-up"></i> Select</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#selectitembyLMModal"><i class="oi oi-thumb-down"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>


