@page "/login"
@inject ILoginService loginService
@inject IManagementService ManagementService
@inject NavigationManager navigate
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject IJSRuntime JS

<PageTitle>Login Page</PageTitle>

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="/img/mitra10.png" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-3 pb-1">Welcome to BPI Application</h4>
                                </div>

                                <EditForm Model="@user" OnValidSubmit="@checkLogin">
                                    <p>Please login to your Mitra10 account</p>

                                    <div class="row mb-2">
                                        <div class="col-sm-12 col-md-4">
                                            <label class="form-label" ><b>Username</b></label>
                                        </div>
                                        <div class="col-sm-12 col-md-8">
                                            <input @bind="user.userName" type="email" id="emailInput" class="form-control-sm w-100" placeholder="example@mitra10.com" />
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-sm-12 col-md-4">
                                            <label class="form-label" ><b>Password</b></label>
                                        </div>
                                        <div class="col-sm-12 col-md-8">
                                            <input @bind="user.password" type="password" id="passwordInput" class="form-control-sm w-100" placeholder="Password" />
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-sm-12 col-md-4">
                                            <label class="form-label" ><b>Company</b></label>
                                        </div>
                                        <div class="col-sm-12 col-md-8">
                                            <select id="form_comp" class="form-select-sm w-100" @onchange="getLocationsByCompany">
                                                <option hidden>Select Company</option>
                                                <option value="1">PT. Catur Mitra Sejati Sentosa</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-sm-12 col-md-4">
                                            <label class="form-label" ><b>Site</b></label>
                                        </div>
                                        <div class="col-sm-12 col-md-8">
                                            <InputSelect @bind-Value="user.locationId" id="form_loc" class="form-select-sm w-100" >
                                                <option hidden value="99999">Select Location</option>
                                                @if (ManagementService.locations.Any())
                                                {
                                                    <option value="">HO - HEAD OFFICE</option>
                                                    foreach (var loc in ManagementService.locations)
                                                    {
                                                        <option value="@loc.locationId">@loc.locationId - @loc.locationName</option>
                                                    }
                                                }
                                            </InputSelect>
                                            @if (isFetchLocationProgress)
                                            {
                                                <span id="spinnerLogin" class="spinner-border spinner-border-sm"></span>
                                            }
                                        </div>
                                        
                                        
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-sm btn-outline-dark btn-block fa-lg mb-3" type="button" @onclick="formClear">Clear</button>
                                        <button class="btn btn-sm btn-primary btn-block fa-lg mb-3" type="submit">
                                            Log in 
                                            @if (isLoginProgress)
                                            {
                                                <span id="spinnerLogin" class="spinner-border spinner-border-sm"></span>
                                            }
                                        </button>
                                    </div>
                                </EditForm>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <blockquote class="blockquote mb-0">
                                    <p style="font-size: 18px;">
                                        Don't practice until you get it right. Practice until you can't get it wrong."
                                    </p>
                                    <footer class="blockquote-footer text-white"><cite title="Steve Jobs">BPI Team</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
